* {
	padding: 0;
	margin: 0;
	font-family: Times New Roman;
	color: black; 
	text-decoration: none;
	text-align: center;

}

.titulo {
	padding: 40px; 

}

nav ul {
	width: 80%;
	margin: auto;
	border-radius: 10px;
	list-style-type: none;
	background-color: #f26524;

}

nav li {

	display: inline-flex;

}

nav a {

	padding: 20px; 
	width: 150px; 

}

nav ul a:hover {

	background-color: white; 
}

.contenido .articulo {

	width: 70%;
	margin: auto;

}

.contenido .articulo div {
    width: 90%
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
     
 }

 .contenido .artucilo img {

 	width: 200px; 
 	border-radius: 15px;
 }



